@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@import url('https://unpkg.com/@fullcalendar/core@6.1.20/index.css');
@import url('https://unpkg.com/@fullcalendar/daygrid@6.1.20/index.css');
@import url('https://unpkg.com/@fullcalendar/timegrid@6.1.20/index.css');

html,
body {
  font-family: 'Nunito';
}
